.pagination {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
}

.btn {
  padding: 15px 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #d4a0a7;
  color: #333;
  border: none;
  cursor: pointer;
}
.btnActive {
  background-color: #528e63;
  transition: 0.3s ease;
  color: #faf8f4;
}

.btn:hover {
  transition: 0.3s ease;
  background-color: #5da271;
  color: #faf8f4;
}

.btn:active {
  background-color: #528e63;
  transition: 0.3s ease;
  color: #faf8f4;
}

.btn:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: 6px solid #c95844;
}

.btn:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: 6px solid #c95844;
}
