.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #faf8f4;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoTitle {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 30px;
}

.logoImg {
  width: 40px;
  margin: 0 10px 0 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border: none;
}

.title:hover {
  color: #c95844;
  border: none;
  transition: 1s ease;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.itemIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.listItem {
  margin: 0 30px;
  font-size: 20px;
}

.link {
  color: #333;
  text-decoration: none;
}

.link:hover {
  color: #c95844;
  transition: 0.5s ease;
}

.link:active {
  color: #5da271;
  transition: 0.5s ease;
}
